#!/bin/bash

echo -e "\n01 - Setting up ZSH"

{{ if not (and (lookPath "zsh") (lookPath "git") (lookPath "fzf")) -}}
echo -e "01.01 - Installing ZSH"
sudo apt-get -y upgrade
sudo apt-get -y install zsh git fzf
{{ end -}}

if [[ $(getent passwd $USER | cut -d ':' -f 7) != *"zsh"* ]]; then
    echo -e "\n01.03 - Setting shell to ZSH"
    chsh -s /usr/bin/zsh
fi

{{ if not (lookPath "starship") -}}
curl -sS https://starship.rs/install.sh | sh
{{ end -}}

